<div class ="post-donate">
    <div id="donate_board" class="donate_bar center">
        <span class="donate_txt">
            <%=theme.post.donate.donate_message%>
         </span>
        <a id="btn_donate" class="btn_donate" href="javascript:;" title="打赏"></a>
        <br>
    </div>
    <div id="donate_guide" class="donate_bar center hidden">
        <div id="alipay" style="display: inline-block" >
            <!-- 支付宝打赏图案 -->
            <img src="<%- theme.root_url %><%=theme.post.donate.alipay%>" alt="支付宝打赏">
            <p>支付宝打赏</p>
        </div>
        <div id="wechatpay" style="display: inline-block" >
            <!-- 微信打赏图案 -->
            <img src="<%- theme.root_url %><%=theme.post.donate.wechatpay%>" alt="微信打赏">
            <p>微信打赏</p>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('btn_donate').onclick = function(){
            if ($('#donate_guide').hasClass('hidden')){
                $('#donate_guide').removeClass('hidden');
            }else{
                $('#donate_guide').addClass('hidden');
            }
        }
    </script>
</div>