<div class ="post-donate">
    <div id="donate_board" class="donate_bar center">
        <span class="donate_txt">
            <%=theme.post.donate.donate_message%>
         </span>
        <a id="btn_donate" class="btn_donate" href="javascript:;" title="愿供"></a>
        <br>
    </div>
    <div id="donate_guide" class="donate_bar center hidden">
        <div id="alipay" style="display: inline-block; margin-right: 3px;" >
            <!-- 支付宝打赏图案 -->
            <img src="<%- theme.root_url %><%=theme.post.donate.alipay%>" alt="愿供">
            <p></p>
        </div>
        <div id="wechatpay" style="display: inline-block; margin-left: 3px;" >
            <!-- 微信打赏图案 -->
            <img src="<%- theme.root_url %><%=theme.post.donate.wechatpay%>" alt="愿供">
            <p></p>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('btn_donate').onclick = function(){
            if ($('#donate_guide').hasClass('hidden')){
                $('#donate_guide').removeClass('hidden');
            }else{
                $('#donate_guide').addClass('hidden');
            }
        }
    </script>
</div>